@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

// Css body
body {
    input {
        font-family: var(--font-family);
        caret-color: #444;
        font-size: 100%;
    }

    // Slick-dots
    .slick-btn {
        bottom: -40px;
        text-align: initial;
        left: 35px;

        li {
            width: 32px !important;
            margin: 0px 10px 0px 0px;
            transition: all 0.3s;
        }
    }

    .slick-dots button::before {
        content: '' !important;
        background-color: rgb(157, 152, 152);
        width: 32px !important;
        height: 9px !important;
        border-radius: 4px;
        transition: all 0.3s;
    }

    .slick-dots .slick-active {
        width: 50px !important;
    }

    .slick-dots .slick-active button::before {
        width: 50px !important;
        background-color: #9aa6af;
    }
}

// Css html
html {
    font-size: 14px;
    font-family: var(--font-family);
    line-height: 1.15;

    // Custom Scroll Menu
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 999px;
    }
}

// Css Base
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
